# R
.Rproj.user/
.Rhistory
.Rdata
.RData
.Ruserdata
*.Rproj

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.egg

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
